.App {
  text-align: center;
}


.App-header {
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.links {
  display: flex;
  justify-content: space-between;
  margin:1%;
}
.container {
  margin: 5%;
}
